.homepage {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  .homepage h1 {
    font-size: 2.5em;
    color: #ffffff;
  }
  
  .homepage p {
    font-size: 1.2em;
    margin-top: 15px;
    color: #ffffff;
  }
  
  .homepage img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .homepage {
    background-image: url('https://images.pexels.com/photos/45923/pexels-photo-45923.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: white; 
    font-family: Arial, sans-serif; 
  }

  .homepage h1 {
    position: relative;
    top: -200px; 
  }
  
  .homepage p {
    position: relative;
    top: -230px; 
  }